@import "../../../../../assets/style/xapps-design-system/Foundations/foundation";
@import "src/assets/style/xapps-design-system/Abstract/_functions.scss";
@import "src/assets/style/xapps-design-system/Abstract/_mixins.scss";
@import "src/assets/style/xapps-design-system/fonts/_medium.scss";
@import "src/assets/style/xapps-design-system/Themes/light/_blue.scss";

.ngx-datatable {
    @media screen and (max-width: 768px) {
        margin-bottom: 52px !important;
    }
}

.dashboard{
    padding: $zero-p $vvs-p $vvs-p $vvs-p !important;
    .subheader-container{
        padding: $vvs-p !important;
        @include max-width(576){
          margin-bottom: $zero-m;
        }
    }
    ::ng-deep {
        .ngx-datatable{
            datatable-body{
                height: calc(100vh - 210px) !important;
            }
        }
    }
}

.chart-container {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    justify-content: space-between;
    gap: 8px;
    height: 350px;
    margin-bottom: 8px;

    @include max-width(768) {
        flex-direction: column;
        gap: 8px;
        height: auto;
    }

    @include max-width(576){
        margin-top: $zero-m;
    }

    .chart-outer-pie {
        width: 50%;
        border-radius: 8px;
        overflow: hidden;
        border: $border-thin solid var(--layout-border-color);

        @include max-width(768) {
            width: 100%;
        }
    }

    .chart-outer-bar {
        width: 50%;
        border-radius: 8px;
        overflow: hidden;
        border: $border-thin solid var(--layout-border-color);

        @include max-width(768) {
            width: 100%;
        }
    }
}



