.font-medium{

/**************font size variables **************/

--fs-primary: 32px;
--fs-secondary: 28px;
--fs-tertiary: 24px;
--fs-forth: 20px;
--fs-xxl: 18px;
--fs-xl: 16px;
--fs-large: 14px;
--fs-medium: 13px;
--fs-small: 12px;

/**************line height variables **************/

--lh-primary: 42px;
--lh-secondary: 30px;
--lh-tertiary: 26px;
--lh-forth: 24px;
--lh-xxl: 22px;
--lh-xl: 20px;
--lh-large: 18px;
--lh-medium: 16px;
--lh-small: 14px;
/**************font weight variables **************/
 
--font-light: 300;
--font-regular: 400;
--font-medium: 500;
--font-bold: 600;
--font-bolder: 700;
--font-extra-bold: 800;
 
}
 
