<div [class.overlay-sidebar]="sidebarOpen" (click)="toggleSidebarMobile()"></div>
<div class="burgur-menu" (click)="toggleSidebar()">
    <span class="material-symbols-outlined">
        menu
    </span>
</div>
<div class="left-sidebar-large large" [class.small]="!sidebarOpen" [class.hideSidebar]="sidebarOpen">
    <div class="d-btn d-btn--circle white-bg-circle vs cp" (click)="toggleSidebar()">
        <span class="icon-rightarrow icon--vs"></span>
    </div>


    <ul class="upper-icons">
        @if (hasAccessToModule("applications")) {
        <li class="list" (click)="toggleSidebarMobile()">
            <a class="icon-div" routerLink="/asher/applications" routerLinkActive="active">
                <div class="logo tooltip-btn" placement="end" [ngbTooltip]="!sidebarOpen?'Applications':''">
                    <span class="material-symbols-outlined nav-icon">grid_view</span>
                </div>
                <p class="text">Applications</p>
            </a>

        </li>
        }

        @if (hasAccessToModule("dashboard")) {
        <li class="list" (click)="toggleSidebarMobile()">
            <a class="icon-div" routerLink="/asher/dashboard" routerLinkActive="active">
                <div class="logo tooltip-btn" placement="end" [ngbTooltip]="!sidebarOpen?'Dashboard':''">
                    <span class="material-symbols-rounded nav-icon ni-20">dashboard</span>
                </div>
                <p class="text">Dashboard</p>
            </a>
        </li>
        }

        @if (hasAccessToModule("lookup_tables", true)) {
        <li class="list">
            <a class="icon-div" [routerLink]="goToFirstLookup()"
                [class.active]="!sidebarOpen && isLookupSubRouteActive()"
                (click)="isLookupMenuOpen = !isLookupMenuOpen">
                <div class="logo tooltip-btn" placement="end" [ngbTooltip]="!sidebarOpen?'Setup':''">
                    <span class="material-symbols-rounded nav-icon ni-20">
                        settings
                    </span>
                </div>
                <p class="text">Setup</p>
            </a>
        </li>
        }

        <ul class="listing">
            @if (isLookupMenuOpen) {
            @if (hasAccessToModule("users", true)) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/users" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-outlined nav-icon">group</span>

                    </div>
                    <p class="text">Users</p>
                </a>
            </li>
            }
            @if (hasAccessToModule("roles")) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/roles" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-rounded nav-icon ni-20">account_tree</span>
                    </div>
                    <p class="text">Roles</p>
                </a>
            </li>
            }
            @if (hasAccessToModule("departments", true)) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/departments" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-outlined nav-icon">account_balance</span>

                    </div>
                    <p class="text">Departments</p>
                </a>
            </li>
            }

            @if (hasAccessToModule("vendors", true)) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/vendors" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-outlined nav-icon">inventory_2</span>

                    </div>
                    <p class="text">Vendors</p>
                </a>
            </li>
            }

            @if (hasAccessToModule("lifecycles", true)) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/lifecycles" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-outlined nav-icon">cycle</span>

                    </div>
                    <p class="text">Life Cycles</p>
                </a>
            </li>
            }
            @if (hasAccessToModule("configurations", true)) {
            <li class="list" (click)="toggleSidebarMobile()">
                <a class="icon-div" routerLink="/asher/configurations" routerLinkActive="active">
                    <div class="logo">
                        <span class="material-symbols-outlined nav-icon">manufacturing</span>

                    </div>
                    <p class="text">Configurations</p>
                </a>
            </li>
            }

            }
        </ul>
    </ul>
</div>