<div class="write-popup">
  <div class="popup-header">
    <div class="cross-btn d-btn d-btn--circle white-bg-circle vs" (click)="activeModal.close('CANCEL')">
            <span class="material-symbols-rounded common-icon">
      close
      </span>
    </div>

    <div class="download-image">
      <img src="assets/images/rafiki.svg" alt="">
    </div>
    <h2>Configuration</h2>

  </div>

  
  <p>Fields marked with <span class="important">*</span>&nbsp;&nbsp; are required.</p>
  <form [formGroup]="notificationForm" (ngSubmit)="submitNotification()">
    <div class="outer-box">
      <div class="inner-box">
        <div class="only-feilds">
          <div class="input-feild-columns add-edit-input-feilds">

            <!-- Required Fields -->
            <div class="form-group d-flex flex-column"
              [class.invalid]='showErrors && notificationForm.get("notificationEvent")?.invalid'
              (click)="notificationEventInputBox.focus()">


              <label for="notification_event" class="label">Notification Event:<span class="important">*</span></label>
              <div class="input-wrapper lg">

                <input #inputElement #notificationEventInputBox formControlName="notificationEvent" type="text"
                  id="notification_event" placeholder="Enter event" required />
              </div>
              @if (showErrors && notificationForm.get("notificationEvent")?.invalid) {
              <p class="error-message">Please Enter Notification Event.</p>
              }
            </div>

            <div class="form-group d-flex flex-column"
              [class.invalid]='showErrors && notificationForm.get("initialTriggerDays")?.invalid'
              (click)="initialTriggerDaysInputBox.focus()">
              <label for="initial_trigger_days" class="label">Initial Trigger Days:<span
                  class="important">*</span></label>

              <div class="input-wrapper lg">

                <input #inputElement #initialTriggerDaysInputBox formControlName="initialTriggerDays" type="number"
                  id="initial_trigger_days" placeholder="Enter days" min="0" required />

              </div>

              @if (showErrors && notificationForm.get("initialTriggerDays")?.invalid) {
              <p class="error-message">Please Enter Initial Trigger Days.</p>
              }
            </div>

            <div class="form-group d-flex flex-column"
              [class.invalid]='showErrors && notificationForm.get("repeatFrequencyDays")?.invalid'
              (click)="repeatFrequencyDaysInputBox.focus()">

              <label for="repeat_frequency_days" class="label">Repeat Frequency Days:<span
                  class="important">*</span></label>
              <div class="input-wrapper lg">
                <input #inputElement #repeatFrequencyDaysInputBox formControlName="repeatFrequencyDays" type="number"
                  id="repeat_frequency_days" placeholder="Enter frequency" min="1" required />

              </div>

              @if (showErrors && notificationForm.get("repeatFrequencyDays")?.invalid) {
              <p class="error-message">Please enter repeat frequency days.</p>
              }
            </div>

            <div class="form-group d-flex flex-column"
              [class.invalid]='showErrors && notificationForm.get("threshold")?.invalid'
              (click)="thresholdInputBox.focus()">
              <label for="threshold" class="label">Threshold:<span class="important">*</span></label>
              <div class="input-wrapper lg">
                <input #inputElement #thresholdInputBox formControlName="threshold" type="number" id="threshold"
                  placeholder="Enter threshold" min="-1" required />
              </div>

              @if (showErrors && notificationForm.get("threshold")?.invalid) {
                <p class="error-message">Please enter threshold.</p>
              }
            </div>

            <!-- Email Fields -->
            <div class="form-group d-flex flex-column">
              <label for="email_to">Email To:</label>
              <div class="input-wrapper lg">
                <input formControlName="emailTo" type="email" id="email_to" placeholder="Enter recipient emails" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="email_cc">Email CC:</label>
              <div class="input-wrapper lg">
                <input formControlName="emailCc" type="email" id="email_cc" placeholder="Enter CC emails" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="email_bcc">Email BCC:</label>
              <div class="input-wrapper lg">
                <input formControlName="emailBcc" type="email" id="email_bcc" placeholder="Enter BCC emails" />
              </div>
            </div>

            <div class="form-group d-flex flex-column"
              [class.invalid]='showErrors && notificationForm.get("adminEmail")?.invalid'
              (click)="adminEmailInputBox.focus()">
              <label for="email_bcc" class="label">Admin Email <span class="important">*</span></label>
              <div class="input-wrapper lg">
                <input #inputElement #adminEmailInputBox formControlName="adminEmail" type="email" id="email_bcc"
                  placeholder="Enter Admin email" />

              </div>

              @if (showErrors && notificationForm.get("adminEmail")?.invalid) {
                <p class="error-message">Please enter admin email.</p>
              }
            </div>

            <div class="form-group d-flex flex-column" [class.invalid]='showErrors && notificationForm.get("emailSubject")?.invalid'
            (click)="emailSubjectInputBox.focus()">
              <input  #inputElement #emailSubjectInputBox formControlName="emailSubject" type="text" id="email_subject" placeholder="Enter subject" />
              <label for="email_subject">Email Subject: <span class="important">*</span></label>
              @if (showErrors && notificationForm.get("emailSubject")?.invalid) {
                <p class="error-message">Please enter email subject.</p>
              }
            </div>

            <div class="form-group d-flex flex-column textarea-wrapper" [class.invalid]='showErrors && notificationForm.get("emailBody")?.invalid'
            (click)="emailBodyInputBox.focus()">
              <textarea  #inputElement #emailBodyInputBox formControlName="emailBody" id="emailBody" placeholder="Email body" rows="5"></textarea>
              <label for="emailBody">Email Body:  <span class="important">*</span></label>
              @if (showErrors && notificationForm.get("emailBody")?.invalid) {
                <p class="error-message">Please enter email body.</p>
              }
            </div>
            <div class="form-group d-flex flex-column">
              <input formControlName="emailReminderSubject" id="email_body" placeholder="Email Reminder subject" />
              <label for="email_body">Email Reminder Subject</label>
            </div>

            <div class="form-group d-flex flex-column textarea-wrapper">
              <textarea formControlName="emailReminderBody" id="email_body" placeholder="Email Reminder body" rows="5"></textarea>
              <label for="email_body">Email Reminder Body:</label>
            </div>

            <!-- Attributes -->
            <div class="form-group d-flex flex-column">
              <label for="attribute_1" class="label">Attribute 1:</label>
              <div class="input-wrapper lg">
                <input formControlName="attribute1" type="text" id="attribute_1" placeholder="Enter attribute 1" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="attribute_2" class="label">Attribute 2:</label>
              <div class="input-wrapper lg">
                <input formControlName="attribute2" type="text" id="attribute_2" placeholder="Enter attribute 2" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="attribute_3" class="label">Attribute 3:</label>
              <div class="input-wrapper lg">
                <input formControlName="attribute3" type="text" id="attribute_3" placeholder="Enter attribute 3" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="attribute_4" class="label">Attribute 4:</label>
              <div class="input-wrapper lg">
                <input formControlName="attribute4" type="text" id="attribute_4" placeholder="Enter attribute 4" />
              </div>
            </div>

            <div class="form-group d-flex flex-column">
              <label for="attribute_5" class="label">Attribute 5:</label>
              <div class="input-wrapper lg">
                <input formControlName="attribute5" type="text" id="attribute_5" placeholder="Enter attribute 5" />
              </div>
            </div>

            <!-- Metadata -->
            <div [class.active-upper]="this.notificationForm.get('recordStatus') &&  activeField==='recordStatus'"
            [class.invalid]='showErrors && notificationForm.get("recordStatus")?.invalid'
              class="form-group drop-down d-flex flex-column select-box"
              (click)="statusDropdown.open()"  
              >
              <label [class.active]="this.notificationForm.get('recordStatus')" for="recordStatus">Record Status: <span class="important">*</span></label>
              <ng-select
                #inputElement
                formControlName="recordStatus"
                #statusDropdown
                id="recordStatus"
                (focus)="activeField='recordStatus'"
                bindLabel="label"
	              bindValue="value"
                (open)="setClassToLabel('recordStatus')"
                (close)="reinitializeConfigStatus()"
                [items]="statusOptions"
                appendTo="body"
                placeholder="Select Status">
              </ng-select>
              @if (showErrors && notificationForm.get("recordStatus")?.invalid) {
              <p class="error-message">Please select record status.</p>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="outer-button">
        <button type="submit" class="d-btn d-btn--primary sm">
          <span class="material-symbols-outlined">check_circle</span>Save
        </button>
      </div>
    </div>
  </form>
</div>