<div class="application-container">
    <div class="login-image"></div>
  <div class="right-login-content">
    <div class="subheader-container">
      <div class="top-container ">
        <div class="heading">
          <div class="application-text">
            <h2>Login</h2>
          </div>
        </div>

        <div class="right">
          <button class="d-btn d-btn--primary sm" type="submit" (click)="onSubmit()">
            <span class="material-symbols-outlined btn-icon">check</span>
            <p class=""> Login</p>
          </button>
        </div>
      </div>

    </div>

    <div class="main-box">
      <div class="filled-important-div">
        <p class="small">Fields marked with &nbsp;<span class="required">*</span>&nbsp; are required.</p>
      </div>
      <form [formGroup]="loginForm">

        <!-- open close class for toggle accordian -->
        <div class="outer-box accordian-box-wrapper">
          <div class="inner-box">

            <div class="only-feilds">
              <!-- input field column class used when we want to show 3 div in one row -->
              <div class="input-feild-columns ">
                <div class="form-group" [class.error]='showErrors && loginForm.get("email")?.invalid'
                  (click)="emailInputBox.focus()">

                  <div class="input-wrapper lg">
                    <input #inputElement #emailInputBox type="text" id="email" formControlName="email"
                      placeholder=" " [class.filled]="loginForm.get('email')?.value" />
                    <label for="email" class="floating-label">Email: <span class="required">*</span></label>
                  </div>

                  @if (showErrors && loginForm.get("email")?.invalid) {
                      @if (loginForm.get("email")?.errors?.["required"]) {
                          <p class="error-message">Please enter email.</p>
                      } @else if (loginForm.get("email")?.errors?.["email"]) {
                          <p class="error-message">Please enter a valid email address.</p>
                      }
                  }
                </div>
                <div class="form-group" [class.error]='showErrors && loginForm.get("password")?.invalid'
                  (click)="passwordInputBox.focus()">

                  <div class="input-wrapper lg">
                    <input #inputElement #passwordInputBox [type]="showPassword ? 'text' : 'password'"  id="password" formControlName="password"
                      placeholder=" " [class.filled]="loginForm.get('password')?.value" />
                    <label for="password" class="floating-label">Password: <span class="required">*</span></label>
                    <button class="toggle-password cursor-pointer" (click)="showPassword = !showPassword">
                      <span class="material-symbols-outlined">
                        {{showPassword ? 'visibility_off' : 'visibility'}}
                      </span>
                    </button>
                  </div>

                  @if (showErrors && loginForm.get("password")?.invalid) {
                  <p class="error-message">Please enter password.</p>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>